body{
     margin: 0;
     padding: 0;
}

#board{
    width: 100vw;
    height: 100vh;
    background-color: rgb(202, 165, 213);
    position: relative;
}

#player{
    background-color: red;
    position: absolute;
}

.obstacle{
    background-color: blue;
    position: absolute;
}